<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "animate.css" %>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "flexslider.css" %>
    <%= stylesheet_link_tag "font-awesome.css" %>
    <%= stylesheet_link_tag "prettyPhoto.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
